body, html{
   padding: 0;
   margin: 0;
   background-color: #fafafa;

}
.completo{
	width: 100%
	margin:0 auto;
	overflow: hidden;
	max-width: 1000px;
}

.header{
   text-align: center;
   width: 100%;
   height: 75px;
   background-color:#ffffff;
   border: 1px solid #e6e6e6;
   border-radius: 5px
}
.cuadro{
	padding-top: 10px;
	display: inline-block;
   width: auto;
   background-color:#ffffff;
   height: 55px;
   margin: auto;
   margin-right: 20%;

}
.camarita{
	vertical-align: middle;
}
.letra{
	width: 120px;
	height: 40px;
	margin-top: 8px;
	vertical-align: middle;

}
.palo{
	width: 9px;
	height: 25px;
	vertical-align: middle;

}
.logo{
	width: auto;
   background-color: #ffffff;
   height: 55px;
}
.buscador{
	 text-align: center;
	display: inline-block;
	width: auto;
  vertical-align: center;
   border-color: #dbdbdb;
   background-color: #fafafa;
}
.menu{
	display: inline-block;
	width: auto;
	margin-left: 20%;
}

#search{
	max-width: 120px;
	width: 120px;

}

#face{
	 float: left;
}
#not{
	margin-top: 70px;
}

.noticia{
	width: 609px;
	background-color:#fff;
	border: 1px solid #e6e6e6;
   border-radius: 2px;
   float:left;
   margin-left: 230px;
   padding-bottom: 50px;
}
.stories{
	width: 258px;
	background-color:#fff; 
	border: 1px solid #e6e6e6;
   border-radius: 7px;
   float:right;
   margin-right: 205px;
   margin-bottom: 0.8em;


}
.sugerencias{
	width: 258px;
	background-color:#fff; 
	border: 1px solid #e6e6e6;
   border-radius: 7px;
   float:right;
   margin-right: 205px;
   margin-bottom: 0.8em;
}
#cont-menu{
	vertical-align: middle;
}

#img-menu{
	vertical-align: middle;
}
.mas{
	float:right;
}
.perfil{
	width: 258px;
   float:right;
   margin-right: 205px;
   padding-bottom: 50px;
	display: inline-block;
	vertical-align: middle;
}
#img{
	float:left;
}
p{
	font-size: 15px;
    font-weight: bold;
}

#up{
	float:right;
	color: #459ef1;
}
#plomo{
	color: #999;
}
@media screen and(max-width: 1000px){
	.stories{
		width: 100%;
		display: inline-block;
		background-color:#fff; 
	    border: 1px solid #e6e6e6;
        border-radius: 7px;

	} 

}